/* common start */
body {
  margin: 0;
  padding: 0;
}
/* common end */

/* header start */
header {
  padding: 30px 0;
  /* border: 1px solid green; */
  background-color: #f6f9f9;
}
.container {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
  overflow: hidden;
}
.logo {
  width: 3%;
  float: left;
}
.logo img {
  width: 100%;
}
.menu {
  /* list-style: none; */
}
.menu ul {
}
.menu ul li {
  list-style: none;
  /* margin-top: 10px; */
}
.menu ul li a {
  margin-top: -15px;
  text-decoration: none;
  float: left;
  padding-left: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #2d3950;
}
/* header end */

/* banner section start */
.banner {
  padding: 280px 0;
  /* border: 1px solid yellow; */
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner h1 {
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 130px;
  color: #f6f9f9;
  border-bottom: 2px solid #15a4fa;
  /* border-width: 5%; */
}
.banner p {
  padding: 70px 0px;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #f6f9f9;
}
.banner button {
  padding: 15px 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #f6f9f9;
  background-color: transparent;
  border-color: #15a4fa;
}
.b_button {
}

/* banner section end */
/* simple & Pure design start  */
.Pure_design {
  padding: 50px 0;
  margin: 0 auto;
  background-color: #f6f9f9;
}
.Pure_design h1 {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #2d3950;
  padding: 20px 0;
}
.Pure_design p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #999999;
  text-align: center;
  /* line-height: 10px; */
}
/* simple & Pure design end  */
/* Feature section start */
.feature {
  padding: 60px 0;
  background-color: #ffffff;
  overflow: hidden;
}
.f_box1 {
  width: 32%;
  height: 300px;
  /* border: 1px solid green; */
  float: left;
  margin-right: 1%;
}
.f_box2 {
  width: 32%;
  height: 300px;
  /* border: 1px solid green; */
  float: left;
  margin-right: 1%;
}
.f_box3 {
  width: 32%;
  height: 300px;
  /* border: 1px solid green; */
  float: right;
  margin-right: 1%;
}
.f_box1 img,
.f_box2 img,
.f_box3 img {
  width: 25%;
  margin-left: 34%;
}

.feature_h2 {
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 22px;
  color: #2d3950;
  text-align: center;
}
.feature_p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #999999;
}

/* Feature section end */
/* Portfolio Section start */
.portfolio {
  padding: 70px 0;
  background-color: #f6f9f9;
}
.portfolio h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 41px;
  color: #2d3950;
  text-align: center;
}
.portfolio p {
  padding-bottom: 70px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #909090;
  text-align: center;
}
.galary_img {
  width: 31%;
  float: left;
  margin-right: 1%;
  padding-left: 1%;
  margin-bottom: 25px;
}

.portfolio_img img {
  width: 100%;
}
/* Portfolio Section end */

/* Stay with us Section start */
.stay_with {
  padding: 100px 0;
  background-image: url(../images/Stay/staywith.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
}
.stay_with-h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 41px;
  color: #ffffff;
  text-align: center;
}
.stay_with-p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #999999;
  text-align: center;
}
.form_part {
  width: 50%;
  margin: 0 auto;
  /* border: 2px solid green; */
}
.form-box1 {
  width: 90%;
  border: 1px #999999;
  padding: 14px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.form-box2 {
  width: 90%;
  border: 1px #999999;
  padding: 14px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-box3 {
  width: 90%;
  height: 70%;
  border: 1px #999999;
  padding: 10px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.form-box4 {
  width: 90%;
  border: 1px #999999;
  padding: 14px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.form_label1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 90%;
  display: inline-block;
  background-color: transparent;
  color: #999999;
  padding: 15px 10px;
}

.form_label2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 90%;
  display: inline-block;
  background-color: transparent;
  color: #999999;
  padding: 15px 10px;
  margin: 20px 0px;
}
.form_label3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 90%;
  display: inline-block;
  background-color: transparent;
  color: #999999;
  padding: 14px 10px;
  margin: 10px 0px;
}
.send_box {
  /* background-color: red; */
  width: 20px;
  height: 20px;
}
.s_box2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 10px;
}
.b_Send {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #f6f9f9;
  padding: 10px 50px;
  border-color: #15a4fa;
  background: transparent;
  border-radius: 5px;
  margin-left: 220px;
}
/* Stay with us Section end */

/* Footer Section start */
.footer-mainbox {
  background-color: #f6f9f9;
}
.footer_box {
  padding: 35px 0;
  /* border: 1px solid green; */
  overflow: hidden;
}
.footer_box p {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 400;
  float: left;
}
.footer_menu {
  width: 20%;
  /* border: 1px solid green; */
  float: right;
  margin-right: 0;
}
.footer_menu ul {
  list-style: none;
}

.footer_menu ul li {
}

.footer_menu ul li a {
  text-decoration: none;
  float: left;
  padding: 0px 26px;
}
.footer_menu ul li a img {
  width: 100%;
}
.footer_menu ul li a:last-child {
  padding-right: 0;
  margin-right: 0;
}
/* Footer Section end */
